* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Exo 2', sans-serif, Arial, Helvetica, sans-serif;
}

header {
    background-color: #f7f7f7;
    padding: 0px 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 20px #c0d3d0;
    z-index: 100;
    transition: all .5s ease;
}

header .logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Michroma', sans-serif;
    color: #0b0c15;
    font-size: 24px;
    letter-spacing: 3px;
}

header .logo a, nav ul {
    margin: 0 20px 0 20px;
}

nav ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
    position: relative;
}

nav li::after {
    background-color: #0b0c15;
    position: absolute;
    content: "";
    height: 2px;
    bottom: -2px;
    width: 0;
    left: 0;
    transition: all .2s linear;
}

nav li:hover::after {
    width: 100%;
}

.m--active::after {
    width: 100%;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color:#0b0c15;
    font-family: 'Exo 2', sans-serif, Arial, Helvetica, sans-serif;
}

section {
    height: auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* #hm {
    height: 555px;
    
    background-color: #0a0101;
    background-image: linear-gradient(0deg, #0a0101 0%, #6038dc 50%, #ffffff 100%);

    background: rgb(247,247,247);
    background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(7,0,77,1) 100%);background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(7,0,77,1) 100%);
} */

.btn-grad {
    background-image: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eeeeee;
    display: block;
    animation: gradMove 3s ease;
}

/* .btn-grad:hover {
    background-position: right center; change the direction of the change here
    color: #fff;
    text-decoration: none;
} */

@keyframes gradMove {
    0% {
        background-position: left center;
    }
    50% {
        background-position: right center;
    }
    100% {
        background-position: left center;
    }

}

#hm h1 {
    margin-top: 170px;
    margin-left: 70px;
    font-family: 'Exo 2', sans-serif;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 2.5px;
    line-height: 55px;
    text-align: left;
    animation: textMove 2s forwards;
}

#hm h1 .web-dev {
    font-size: 55px; 
    font-weight:700;
}

@keyframes textMove {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.hm-social-icons {
    display: flex;
    margin-left: 70px;
    margin-top: 30px;
}

.hm--social-icon {
    margin-top: 30px;
    margin-right: 20px;
    height: 40px;
    width: auto;
    fill: #f7f7f7;   
}

.hm--social-icon:hover {
    fill: #c5e0dc;
}

#am {
    display: flex;
    flex-direction: column;
    background-color: #080A0B;
}

#am h2 {
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Blinker', sans-serif,'Exo 2', sans-serif;
    letter-spacing: 1.8px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    position: relative;
}

.am-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-image: url("../images/pexels-neo-2653362.jpg");
    background-position: center;
    background-size: cover;
}
.am-di {
    display: flex;
    height: 80%;
    width: 800px;
    margin-left: 80px;
    background-color: rgba(0, 0, 0, .9);
    align-items: center;
    overflow: hidden;
}
.am-di-img {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right,#FFF, #f1ecf0);
    height: 200px;
    width: 200px;
    margin-left: 70px;
    border-radius: 50%;
    border: 2px solid #4d4d4d;
    box-shadow: 0px 0px 5px #4d4d4d;
    overflow: hidden;    
}

.am-di-img img {
    object-fit: cover;
}

.am-desc {
    flex: 1;
    display: flex;
    padding: 70px;
    color:#c5E0dc;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-align: justify;
    line-height: 28px;
    /*box-shadow: 0px 0px 10px #4d4d4d;
    border-radius: 10px;*/
}

#sv h2, #tc h2, #pj h2 {
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Blinker', sans-serif,'Exo 2', sans-serif;
    letter-spacing: 1.8px;
    font-weight: 400;
    color:#0575e6;
    text-align: center;
    position: relative;
}

#pj h2 {
    text-shadow: 1px 1px 5px#b3d2e9;
}

#ct h2 {
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Blinker', sans-serif,'Exo 2', sans-serif;
    letter-spacing: 1.8px;
    font-weight: 400;
    color:#fff;
    text-align: center;
    position: relative;
}

.bg--all {   

    /* background-color: #eeeeee;
    background-image: linear-gradient(180deg, #eeeeee 19%, #0575e6 54%, #021b79 78%, #080a0b 97%);

    background-color: #eeeeee;
    background-image: linear-gradient(180deg, #eeeeee 18%, #0575e6 53%, #021b79 79%, #080a0b 88%);

    background-color: #eeeeee;
    background-image: linear-gradient(180deg, #eeeeee 18%, #0575e6 54%, #080a0b 78%);

    background-color: #eeeeee;
    background-image: linear-gradient(180deg, #eeeeee 18%, #0575e6 71%, #080a0b 74%); */ 

    background-color: #eeeeee;
    /* background-image: linear-gradient(180deg, #eeeeee 18%, #0575e6 75%, #080a0b 75%); */   
    background-image: linear-gradient(180deg, #eeeeee 18%, #0575e6 75%, #080a0b 95%);

}

.container--sv {
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: auto;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    overflow: hidden;
}

.sv-info {
    display: flex;
    flex-direction: column;
    background-color:#fff;
    align-items: center;
    padding: 40px 30px;
    margin: 10px;
    min-height: 95%;
    flex: 1;
    box-shadow: 0px 0px 10px #a3a8aa;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.sv--img img {
    height: 60px;
    width: auto;
    margin-bottom: 20px;
}

.sv--title h3 {
    color:#0b0c15;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.sv--desc p {
    color:#0b0c15;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: justify;
}

.sv-info:hover {
    transform: scale(1.05);
}

.container--tecs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75%;
    width: auto;
    margin: 25px 70px;
    background-color: rgb(197, 224, 220, .3);
    box-shadow: 3px 3px 15px #d0dee2;
}

.tecs--desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: auto;
    padding: 50px;
    padding: 40px 30px;
    height: 95%;
    flex: 1;
}

.tecs--desc h3 {
    color:#4d4d4d;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.tecs--desc p {
    color:#0b0c15;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 25px;
}

.tecs--area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;
    height: 90%;
    flex: 2;
    margin:25px;
    background-color: rgba(234, 238, 238, 0.3);
    box-shadow: 1px 1px 10px #bbc1c4;
    padding: 30px;
}

.tec-icon-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background-color: #f7f7f7;
    box-shadow: 3px 3px 15px #d0dee2;
    border-radius: 10px;
    margin: 20px;
}

.tec--icon {
    height: 40px;
    margin-bottom: 5px;  
}

.tec-icon-area h4 {
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
}

#pj {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.slider--control {
    position: absolute;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
}

.slider--control.sc--1 {
    left: 10px;
}

.slider--control.sc--2 {
    right: 10px;
}

.slider--control svg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.slider--control svg:hover {
    background-color: #398ee4;
}

.slider--control svg:hover polyline {
    stroke: #FFF;
}

.slider {
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: 50px 25px 50px 25px;
    position: relative;
    display: flex;
    align-items: center;
}

.slider--width {
    position: absolute;
    margin-left: 5px;
    display: flex;
}

.slider--item {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #021B79;
    position: relative;
}

.slider--item .pj--img {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
}

.pj--img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pj--img img:last-child {
    display: none;
}

.slider--item .pj--desc {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: -100%;
    transition: all .5s ease;
}

.slider--item:hover .pj--desc{
    bottom: 0;
}

.slider--item:hover .pj--img {
    opacity: .5;
    transform: scale(1.05);
}

.pj--desc p {
    padding: 10px;
    font-size: 14px;
    color: #FFF;
    text-shadow: 1px 1px 3px #c0c0c0;
}

.pj--desc-link {
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1rem;
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 200%;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 3rem;
    transition: all .5s ease;
    display: flex;
    align-items: center;
}

.pj--desc-link:hover {
    color: #d8d8d8;
    border: 1px solid #0052D4;
    background-position: right center;
}

#ct {
    align-items: center;
}

.ct--gp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
    height: 100%;
    width: 100%;
    max-width: 1024px;
}

.ct--gp--msg {
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    align-items: center;
    padding: 50px 50px;
    height: 80%;
    flex: 1;
    border-radius: 10px;
    margin-right: 50px;
}

.ct--img {
    height:100px;
    width: 100px;
    margin-bottom: 30px;
}

.ct--gp--msg h3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.ct--gp--msg p {
    color: #fff;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    display: flex;
    text-align: justify;
    flex-direction: column;
}

.ct--gp--msg .thx {
    text-align: center; 
    padding-top: 35px;
}

form {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;
}

.form--info label, .msg--area {
    color: #fff;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.form--area {
    height: 50px;
    width: 100%;
}

.form--area, .msg--lb {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form--area input, .msg--lb textarea {
    margin-top: 10px;
    padding: 15px 0px;
    padding-left: 5px;
    background-color: #1d1d1d;
    color: #f7f7f7;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    outline: 0;
    border: none;
}

.msg--txa {
    height: 200px;
    width: 100%;
    resize: none;
}

.form--area input:focus, 
.msg--lb textarea:focus {
    border: 1px solid #f7f7f7;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 20px 0px;
    padding-left: 5px;
    background-color: #187AD2;
    color: #f7f7f7;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    outline: 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #5599ff;
    color: #fff;
}

footer {
    padding: 20px 70px;
    background-color: #000000;
    color: #a4a4a5;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
}

footer a {
    text-decoration: none;
    color:inherit;
}

.menu--mobile {
    display: none;
    flex-direction: column;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: space-between;
}

.mm--line {
    background-color: #0b0c15;
    height: 4px;
    width: 100%;
    border-radius: 3px;
    transition: all .3s ease;
}

/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: #0052D4;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #fff;
  }

@media screen and (max-width: 820px){

    .menu--mobile {
        display: flex;
    }

    .icon--close--1 {
        transform-origin: left;
        transform: rotate(45deg) scale(1.25, 1);
    }

    .icon--close--2 {
        opacity: 0;
    }

    .icon--close--3 {
        transform-origin: left;
        transform: rotate(-45deg) scale(1.25, 1);
    }

    header {
        justify-content: space-between;
    }

    header .logo {
        min-width: 315px;
    }

    header nav {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        height: 0px;
        transition: height .5s ease;
        overflow: hidden;
    }

    nav ul {
        background-color: #f7f7f7;
        justify-content: space-around;
        width: auto;
        margin: 0px;
        padding-bottom: 10px;
    }

    .navActive {
        height: 40px; 
    }
    
    .sv-info {
        max-height: 380px;
        overflow-y: auto;
    }

    .form--info, .container--sv, .container--tecs {
        flex-direction: column;
    }

    .container--tecs, .container--sv {
        margin: 25px 45px 0px 45px;
    }

    .ct--gp--msg {
        text-align: center;
        padding: 20px;
    }

    .ct--gp--msg .thx { 
        padding-top: 15px;
    }

    .ct--img {
        height:70px;
        width: 70px;
        margin-bottom: 20px;
    }

    #sv, #tc {
        height: auto;
    }

    /* .bg--all {   
        background-image: linear-gradient(180deg, #eeeeee 18%, #0575e6 75%, #080a0b 95%);
    } */
}

@media screen and (max-width: 660px){
    #hm h1 {
        font-size: 25px;
        letter-spacing: 1.5px;
        line-height: 35px;
    }

    #hm h1 .web-dev {
        font-size: 35px;
    }

    nav ul {
        flex-direction: column;
        padding-bottom: 2px;
    }

    .navActive {
       height: 254px; 
    }

    .headerTop {
        top: 0;
    }

    nav ul li {
        padding: 10px;
    }

    li a {
        display: block;
    }

    .am-di {
        flex-direction: column;
        margin-top: 20px;
        margin-left: 0;
    }

    .am-di-img {
        margin-left: 0;
        height: 150px;
        min-height: 150px;
        width: 150px;
    }

    .am-desc {
        text-align: center;
        padding: 35px;
    }

    .container--tecs, .container--sv {
        margin: 25px 35px 0px 35px;
    }

    .sv-info {
        margin-left: 0px;
        margin-right: 0px;
    }

    #hm h1 {
        margin-left: 0;
    }

    .tec-icon-area {
        margin: 15px;
    }

    .tecs--area {
        max-height: 300px;
        justify-content: center;
    }

    #am, #ct {
        height: auto;
    }

    #pj .slider {
        margin: 10px 25px;
    }

    .pj--img img:last-child {
        display: initial;
    }

    .pj--desc {
        flex-direction: column;
        gap: 5px;
    }

    .pj--desc-link {
        align-self: flex-end;
    }

    .ct--gp {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .ct--gp--msg {
        margin-right: 0px;
    }

    form {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .form--group {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 400px) {
    header .logo a {
        font-size: 20px;
    }
    header .logo {
        min-width: 100px;
    }
    .btn-grad {
        padding: 15px 10px;
    }

    .pj--desc p {
        font-size: .7rem;
    }
    
    .pj--desc-link {
        height: auto;
        padding: 0.5rem 1rem;
        font-size: .8rem;
    }
}